<div id="<%= dom_id blog %>">
  <p>
    <strong>Title:</strong>
    <%= blog.title %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= blog.body %>
  </p>

  <%= link_to blog.status, toggle_status_blog_path(blog) %>
  
  <p>
    <%= link_to "Show this blog", blog %> | <%= link_to "Edit this blog", edit_blog_path(blog) %> | <%= link_to "Delete Post", blog, method: :delete, data: { turbo_method: 'delete', turbo_confirm: 'Are you sure?' } %>
  </p>
</div>
