<div id="<%= dom_id blog %>">
  <p>
    <strong>Title:</strong>
    <%= blog.title %>
  </p>
  <p>
    Published <%= distance_of_time_in_words(blog.created_at, Time.now) %> ago
  </p>

  <p>
    <strong>Body:</strong>
    <%= blog.body %>
  </p>

  <%= link_to blog.status, toggle_status_blog_path(blog) %>
  
    <p><%= link_to "Show this blog", blog %></p>
    <p><%= link_to "Edit this blog", edit_blog_path(blog) if logged_in?(:site_admin) %></p>
    <p><%= link_to "Delete Post", blog, method: :delete, data: { turbo_method: 'delete', turbo_confirm: 'Are you sure?' }  if logged_in?(:site_admin) %></p>
</div>
